* {
  padding: 0;
  margin: 0;
}

.row {
 
  display: flex;
   flex-wrap: wrap;
}

.row-space {
 
  justify-content: space-between;
}

.col-2 {
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

html {
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

h2 {
  font-size: 30px;
}


.bg-gra-01 {
   background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}


.p-t-180 {
  padding-top: 100px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-100 {
  padding-bottom: 60px;
}

.wrapper {
  margin: 0 auto;
}


.wrapper--w780 {
  max-width: 780px;
}


.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  cursor: pointer;
  color: #fff;
  transition: all 0.4s ease;
  font-size: 18px;
  background: #57b846;
  border-radius: 20px;
}
.btn:hover{
  background: #fff;
}


input {
  outline: none;
  margin: 0;
  border: none;
   box-shadow: none;
  width: 100%;
  font-size: 14px;
  }

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
   transform: translateY(-50%);
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}

.card {
  overflow: hidden;
   border-radius: 3px;
  background: #fff;
}

.card-3 {
  background: #000;
   border-radius: 10px;
   box-shadow: 8px 8px 10px ;
  width: 100%;
  display: table;
}

.card-3 .card-heading {
  background: url("../Images/enroll.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
}

.card-3 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

@media (max-width: 767px) {
  .card-3 {
    display: block;
  }
  .card-3 .card-heading {
    display: block;
    width: 50%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3 .card-body {
    display: block;
    width: 50%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}
.navbar{
  background: #fff;
}

a:link{
  color: #4d4d4d;
}

/* visited link */
a:visited {
  color: #4d4d4d;
}

/* mouse over link */
a:hover {
  color: #4d4d4d;
}

/* selected link */
a:active {
  color: #4d4d4d;
}


body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}



/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 36px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding: 0 120px 0 0;
  color: #ccc;
  font-size: 16px;
  font-family: inherit;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
 
  justify-content: center;
  
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #4d4d4d;
  
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  
  border-radius: 3px;
  
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */

hr{
  margin-bottom: 20px;
}